.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 110px;
  margin-left: -175px;
  margin-top: -55px;
}

.wrapper {
  display: flex;
}

.auth-info input {
  border: none;
  border-radius: 10px;
  background-color: #2551A8;
}

.login {
  display: flex;
  justify-content: space-between;
}

.password,
.loginChar {
  line-height: 30px;
  font-size: 2em;
  color: #AD9B49;
  text-align: center;
}

.loginChar {
  width: 30px;
  text-transform: uppercase;
}

.loader {
  display: none;
  border: 16px solid #2551A8;
  border-top: 16px solid #AD9B49;
  border-radius: 50%;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.error {
  border: 1px solid tomato !important;
}

.error-anim {
  animation: shake 0.2s linear 1;
}

@keyframes shake {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}
.authMessage {
  color: tomato;
  font-size: 1.2em;
}

.loginContainer .wrapper {
  display: grid;
  grid-template-areas: "label label" "info arrow" "link .";
}
.loginContainer .wrapper .type {
  color: #ffffff;
  text-decoration: none;
}
.loginContainer .auth-label {
  color: #AD9B49;
  grid-area: label;
  text-align: center;
}
.loginContainer .auth-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  row-gap: 30px;
  grid-area: info;
}
.loginContainer .auth-arrow {
  display: flex;
  width: 50px;
  line-height: 112px;
  justify-content: center;
  grid-area: arrow;
}
.loginContainer .auth-arrow a,
.loginContainer .auth-link a {
  text-decoration: none;
  color: #AD9B49;
}
.loginContainer .auth-arrow a {
  font-size: 2em;
}
.loginContainer .auth-link {
  grid-area: link;
}

.bolo {
  display: flex;
  flex-direction: column;
  flex-grow: 1 1;
  gap: 5px;
  height: calc(100vh - 52px);
}
.bolo .citizen-list {
  width: 100%;
}
.bolo .car-list {
  width: 100%;
}
.bolo .car-item, .bolo .citizen-item {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: ". ." ". .";
}
.bolo .car-item .edit-button, .bolo .citizen-item .edit-button {
  width: 120px;
}

@media screen and (min-width: 768px) {
  .bolo {
    flex-direction: row;
  }
}
.calls {
  display: flex;
  flex-direction: column;
  flex-grow: 1 1;
  gap: 5px;
  height: calc(100vh - 52px);
}

@media screen and (min-width: 768px) {
  .calls {
    flex-direction: row;
  }
}
.calls-list {
  width: 100%;
}

.calls-editor {
  width: 100%;
}
.calls-editor .edit-list {
  border: 2px solid #142C5C;
  margin: 5px;
  padding: 0 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.pagination li {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 10px;
  color: #ffffff;
}

.pagination li a {
  width: 30px;
  height: 30px;
  display: block;
}

.pagination li:hover {
  cursor: pointer;
  color: #7BA81D;
}

.pagination .pag-active {
  font-size: 2rem;
  color: #7BA81D;
}

.pagination .previous,
.pagination .next {
  width: 20px;
}

form textarea {
  grid-area: text;
  min-height: 150px;
  max-height: 300px;
}

.officers {
  grid-area: officers;
}

.officers p,
.report p {
  margin-right: 20px;
}

.report {
  grid-area: report;
}

.report-controls {
  display: flex;
  line-height: 36px;
  margin: 0;
}

.round-link {
  color: #ffffff;
  text-decoration: none;
  align-items: center;
  border: none;
}

.round-link {
  background-color: #7BA81D;
  color: #ffffff;
  padding: 5px;
  border-radius: 20px;
}

.round-link:hover {
  background-color: #415C0B;
  cursor: pointer;
}

.calls .title {
  border-top: none;
  border-bottom: 1px solid #ffffff;
}
.calls .call-item {
  grid-template-areas: ". ." ". ." ". edit";
  grid-auto-columns: 1fr;
}
.calls .call-item .edit-button {
  grid-area: edit;
}
.calls form {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: ". ." "text text" "officers officers" "report report";
}
.calls form .textarea {
  grid-area: text;
}
.calls form .textarea textarea {
  width: 500px;
}
.calls .table-scroll div:first-child .floating-label {
  left: 0;
}

.citizens {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.citizens .citizen-list {
  grid-area: list;
}
.citizens .citizen-list .citizen-item {
  grid-template-areas: ". ." ". button";
  grid-auto-columns: 1fr;
}
.citizens .citizen-list .citizen-item .edit-button {
  grid-area: button;
}
.citizens .citizen-list .text-input {
  width: calc(100% - 25px);
}
.citizens .citizen-editor {
  grid-area: editor;
}
.citizens .citizen-editor .table-scroll {
  row-gap: 15px;
  align-items: center;
  overflow: visible;
  justify-content: center;
}
.citizens .citizen-editor form {
  padding: 0;
  grid-template-areas: "name phone" "birth regnum" "state password";
}
.citizens .citizen-editor .password-link {
  height: 40px;
}
.citizens .citizen-editor .password-link form {
  text-align: left;
}
.citizens .citizen-editor .password-link {
  grid-area: password;
}
.citizens .citizen-editor .password-link .copy-label, .citizens .citizen-editor .password-link .get-label {
  color: #ffffff;
  position: absolute;
  right: 10px;
  line-height: 40px;
  cursor: pointer;
}
.citizens .citizen-editor .password-link .get-label {
  right: 30px;
}
.citizens .citizen-editor .copied {
  color: #7BA81D !important;
}
.citizens .citizen-info {
  grid-area: info;
}
.citizens .citizen-info .edit-list {
  border: 2px solid #142C5C;
  margin: 5px;
  padding: 0 5px;
}

@media screen and (min-width: 768px) {
  .citizens {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "list editor" "list info";
    height: calc(100vh - 52px);
  }
}
.departments {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.departments .department-item {
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
}
.departments .department-list {
  grid-area: dlist;
}
.departments .department-editor {
  grid-area: editor;
}
.departments .department-editor .table-scroll {
  justify-content: center;
}
.departments .department-editor form {
  display: grid;
  grid-template-areas: ". ." "title title" "desc desc";
}
.departments .department-editor form .title-input {
  grid-area: title;
}
.departments .department-editor form .title-input input {
  width: 500px;
}
.departments .department-editor form .textarea {
  grid-area: desc;
}
.departments .department-editor form textarea {
  resize: none;
  width: 500px;
}
.departments .department-ranks {
  grid-area: ranks;
}
.departments .department-units {
  grid-area: units;
}
.departments .department-units .table-scroll, .departments .department-ranks .table-scroll {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  left: 15px;
}
.departments .table-scroll .rank-form {
  height: 200px;
  margin: 15px 15px 0 15px;
}
.departments .table-scroll .rank {
  background-color: #3676F5;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 15px 15px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 0;
}
.departments .table-scroll .controls button {
  margin-left: 5px;
}

@media screen and (min-width: 768px) {
  .departments {
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "dlist ranks" "editor units";
    height: calc(100vh - 52px);
  }
}
.employees {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.employees .employee-item {
  display: grid;
  grid-template-areas: ". ." ". .";
}
.employees .title-select > h3, .employees .title-select > div {
  width: 50%;
}
.employees .title-select select {
  height: 25px;
  width: 100%;
}
.employees .employee-list {
  grid-area: list;
}
.employees .employee-list .title {
  line-height: 43px;
}
.employees .employee-editor {
  grid-area: editor;
}
.employees .employee-editor .table-scroll {
  justify-content: center;
}
.employees .employee-editor .table-scroll .control {
  display: flex;
  align-items: center;
}
.employees .employee-work-hours {
  grid-area: hours;
}
.employees .employee-work-hours .table-scroll {
  padding: 0 20px;
}
.employees .employee-work-hours .text-label {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .employees {
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "list editor" "list hours";
    height: calc(100vh - 52px);
  }
}
.fines {
  display: flex;
  flex-direction: column;
  flex-grow: 1 1;
  gap: 5px;
  height: calc(100vh - 52px);
}
.fines .fine-list {
  width: 100%;
}
.fines .fine-list .fine-item {
  display: grid;
  grid-template-areas: ". ." ". .";
  grid-auto-columns: 1fr;
}
.fines .fine-list .fine-item:nth-child(2n+1) select {
  background-color: #2551A8;
}
.fines .fine-list .text-input {
  width: calc(100% - 25px);
}
.fines .fine-editor {
  width: 100%;
}
.fines .fine-editor .table-scroll {
  display: flex;
  justify-content: center;
}
.fines .fine-editor .laws {
  gap: 5px;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.fines .fine-editor .text-label {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .fines {
    flex-direction: row;
  }
}
.text-input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #3676F5;
  color: #ffffff;
  padding: 0 12px;
}

form div {
  margin: 0 auto;
}

select {
  width: 223px;
  height: 40px;
}

textarea {
  resize: vertical;
}

select, textarea {
  background-color: #3676F5;
  color: #ffffff;
  border: none;
  padding: 2px;
  border-radius: 5px;
}

textarea {
  padding: 10px;
}

form {
  display: grid;
  padding-top: 15px;
  row-gap: 15px;
  column-gap: 15px;
  margin: 0 auto;
}

form div {
  position: relative;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  color: #ffffff;
  left: 20px;
  top: 10px;
  transition: 0.2s ease all;
}

.error-label {
  position: absolute;
  pointer-events: none;
  bottom: -7px;
  left: 10px;
  font-size: 12px;
  color: #8f1616;
}

.error-text {
  font-size: 12px;
  color: #8f1616;
}

.text-input:focus ~ .floating-label,
.text-input:not(:focus):valid ~ .floating-label,
.text-input:disabled ~ .floating-label,
.active-label {
  top: -9px;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  color: #AD9B49;
}

.datePicker {
  background-color: #3676F5;
  padding: 0 0 0 5px;
  width: 217px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  z-index: 20;
}

.react-datepicker {
  background-color: #3676F5;
  border-color: #2551A8;
}

.react-datepicker-popper {
  z-index: 2;
}

.react-datepicker__header {
  background-color: #142C5C;
}

.react-datepicker__day-name, .react-datepicker__current-month {
  color: #AD9B49;
}

.react-datepicker__day {
  color: #ffffff;
}

.react-datepicker__day:hover {
  background-color: #142C5C;
}

.edit-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  line-height: 48px;
  color: #ffffff;
  text-decoration: none;
  align-items: center;
}
.edit-list .link-button {
  margin-left: 10px;
  line-height: 30px;
}
.edit-list .round-link {
  line-height: 30px;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100%;
}

.active-bolo {
  grid-area: bolo;
}
.active-bolo .title {
  border-top: 1px solid #ffffff;
  border-bottom: none;
}

.active-units {
  grid-area: units;
}

.active-calls {
  grid-area: calls;
}

@media screen and (min-width: 768px) {
  .home {
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-columns: 1.5fr 3fr;
    grid-template-areas: "bolo units" "state calls";
  }

  .active-states {
    padding-top: 70px;
  }
}
.block {
  display: flex;
  flex-direction: column;
  border: 1px solid #2551A8;
  border-radius: 10px;
  background-color: #2551A8;
}

.block > h3 {
  text-align: center;
  margin: 0;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.table-head, .unit-item, .bolo-item, .home .call-item {
  padding: 0;
  margin: 0;
  line-height: 40px;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: center;
}

.active-calls .table-head, .active-calls .call-item {
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.active-units .table-head, .active-units .unit-item {
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr 1fr;
}

.active-bolo .table-head, .active-bolo .bolo-item {
  grid-template-columns: 1fr 2fr 2fr 2fr;
}

.table-head {
  padding-right: 12px;
}

.table-scroll {
  height: 100%;
  overflow-y: scroll;
  /* scrollbar for Firefox */
  scrollbar-width: thin;
  scrollbar-color: #3676F5 orabge;
  display: flex;
  flex-direction: column;
}

.table-scroll ul:nth-child(odd) {
  background-color: #3676F5;
}

/* scrollbar for Chrome, Edge and Safari */
.table-scroll::-webkit-scrollbar {
  width: 12px;
}

.table-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.table-scroll::-webkit-scrollbar-thumb {
  background-color: #3676F5;
  border-radius: 20px;
  border: 3px solid #2551A8;
}

/* */
#tag {
  position: absolute;
  display: block;
}

.hidden {
  display: none;
}

.title {
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #ffffff;
}

.title > h3 {
  margin: 0;
  display: block;
  width: 100%;
  text-align: center;
}

.title > h3:hover {
  cursor: pointer;
}

.title > h3:first-child {
  border-right: 1px solid #ffffff;
}

.active-states {
  grid-area: state;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.active-states > div {
  border: 1px solid #ffffff;
  height: 50px;
  width: 90%;
  margin: 0 auto;
  background-color: #3676F5;
  transition: 0.2s;
}

.active-states .marking {
  width: 100%;
  height: 100%;
}

.active-states > div:hover, .marking:hover {
  cursor: pointer;
  color: #ffffff;
}

.active-states p {
  margin: 0;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
}

.state-elem:hover {
  background-color: #7BA81D;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.link-button {
  border-radius: 100%;
  display: inline-block;
}

.link-button:hover {
  cursor: pointer;
  color: #7BA81D;
}

.incidents {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.incidents .incident-list {
  width: 100%;
  grid-area: list;
}
.incidents .incident-list .incident-item {
  display: grid;
  grid-template-areas: "id name location" "supervisor datetime button";
  grid-auto-columns: 1fr;
}
.incidents .incident-list .text-input {
  width: calc(100% - 25px);
}
.incidents .incident-editor {
  width: 100%;
}
.incidents .incident-editor .incident-id {
  color: #ffffff;
}
.incidents .incident-editor .table-scroll {
  justify-content: center;
}
.incidents .incident-editor form {
  display: grid;
  grid-template-areas: ". ." ". ." ". ." "details details";
}
.incidents .incident-editor form .textarea {
  grid-area: details;
  width: 100%;
}
.incidents .incident-editor form .textarea textarea {
  resize: none;
  width: 100%;
  padding: 0 12px;
}
.incidents .incident-info .edit-list {
  border: 2px solid #142C5C;
  margin: 5px;
  padding: 0 5px;
}
.incidents .form-control {
  background-color: #3676F5;
  border: none;
  color: #ffffff;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  padding: 0 12px;
}
.incidents .rdtPicker {
  background-color: #3676F5 !important;
  border: none;
  color: #ffffff;
}
.incidents .rdtDay:hover, .incidents .rdtTimeToggle:hover, .incidents .rdtPicker th:hover, .incidents .rdtBtn:hover {
  background-color: #2551A8 !important;
}

@media screen and (min-width: 768px) {
  .incidents {
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "list editor" "list info";
    height: calc(100vh - 52px);
  }
}
.indictments {
  display: flex;
  flex-direction: column;
  flex-grow: 1 1;
  gap: 5px;
  height: calc(100vh - 52px);
}
.indictments .indictment-list {
  width: 100%;
  grid-area: list;
}
.indictments .indictment-list .indictment-item {
  display: grid;
  grid-template-areas: "id name location" "supervisor datetime button";
  grid-auto-columns: 1fr;
}
.indictments .indictment-list .text-input {
  width: calc(100% - 25px);
}
.indictments .indictment-editor {
  width: 100%;
}
.indictments .indictment-editor .laws {
  gap: 5px;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.indictments .indictment-editor .text-label {
  color: #ffffff;
}
.indictments .indictment-editor .table-scroll {
  display: flex;
  justify-content: center;
}
.indictments .form-control {
  background-color: #3676F5;
  border: none;
  color: #ffffff;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  padding: 0 12px;
}
.indictments .rdtPicker {
  background-color: #3676F5 !important;
  border: none;
  color: #ffffff;
}
.indictments .rdtDay:hover,
.indictments .rdtTimeToggle:hover,
.indictments .rdtPicker th:hover,
.indictments .rdtBtn:hover {
  background-color: #2551A8 !important;
}

.close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  .indictments {
    flex-direction: row;
  }
}
.inventory {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inventory .inventory-list {
  grid-area: list;
}
.inventory .inventory-list .title {
  line-height: 43px;
}
.inventory .inventory-list .title-select > h3,
.inventory .inventory-list .title-select > div {
  width: 50%;
}
.inventory .inventory-list .title-select select {
  height: 25px;
  width: 100%;
}
.inventory .inventory-list .inventory-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.inventory .inventory-list .inventory-item .amount-input {
  display: flex;
  align-items: center;
}
.inventory .inventory-list .inventory-item .amount-input form {
  padding: 0;
  margin: 0 5px;
}
.inventory .inventory-list .inventory-item li {
  flex: 1;
}
.inventory .inventory-list .inventory-item .text-input {
  width: 50px;
}
.inventory .inventory-list .inventory-item .green:hover, .inventory .inventory-list .inventory-item .red:hover {
  cursor: pointer;
}
.inventory .inventory-list .inventory-item:nth-child(2n+1) .text-input {
  background-color: #2551A8;
}
.inventory .green {
  color: #7BA81D;
}
.inventory .red {
  color: #8f1616;
}
.inventory .inventory-editor {
  grid-area: editor;
}
.inventory .inventory-editor .table-scroll {
  justify-content: center;
}
.inventory .inventory-editor textarea {
  resize: none;
  width: 500px;
}
.inventory .inventory-history {
  grid-area: history;
}
.inventory .inventory-history .history-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.inventory .inventory-history .history-item * {
  flex: 1;
}
.inventory .inventory-history .history-item *:first-child {
  flex: 2;
}
.inventory .inventory-history .history-item *:nth-child(2) {
  flex: 3;
}

@media screen and (min-width: 768px) {
  .inventory {
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 3fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "list editor" "list history";
    height: calc(100vh - 52px);
  }
  .inventory .inventory-editor form {
    flex-direction: column;
  }
}
.license {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.license .license-list {
  grid-area: list;
}
.license .license-list .license-add {
  background-color: #2551A8;
}
.license .license-list .license-add form {
  display: grid;
  grid-template-areas: "name type" "description button";
}
.license .license-list .license-add form .button, .license .license-list .license-add form .type {
  text-align: center;
}
.license .license-list .license-add form .type {
  display: flex;
  flex-direction: column;
}
.license .license-list .license-item {
  display: grid;
  grid-template-areas: "name ." "description button";
  grid-auto-columns: 1fr;
}
.license .license-list .license-item .name {
  grid-area: name;
}
.license .license-list .license-item .description {
  grid-area: description;
}
.license .license-list .license-item .type {
  text-align: center;
}
.license .license-list .license-item .button {
  grid-area: button;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .license {
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 3fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "list ." "list .";
    height: calc(100vh - 52px);
  }
}
.penal-code {
  height: calc(100vh - 52px);
  background-color: #2551A8;
  border-radius: 10px;
}
.penal-code ul {
  margin: 0;
  background-color: transparent !important;
}
.penal-code li {
  margin-top: 5px;
}
.penal-code .title {
  border: none;
}
.penal-code .title .number {
  border-radius: 5px;
  padding: 0 5px;
  background-color: #142C5C;
}
.penal-code .title .delete {
  margin-left: 5px;
}
.penal-code .title:hover {
  cursor: pointer;
}
.penal-code span {
  display: inline;
}
.penal-code .add:hover {
  cursor: pointer;
}

.select-search {
  width: 150px;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

.select-search *,
.select-search *::after,
.select-search *::before {
  box-sizing: inherit;
}

.select-search__value {
  position: relative;
  z-index: 1;
}

.select-search__value::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px);
  right: 19px;
  width: 11px;
  height: 11px;
}

.select-search__input {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 40px 0 16px;
  color: #ffffff;
  background: #3676F5;
  border: 1px solid transparent;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 36px;
  -webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.select-search__input:not([readonly]):focus {
  cursor: initial;
}

.select-search__select {
  background: #3676F5;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}

.select-search__options {
  padding: 0;
  margin: 0;
}

.select-search__row:not(:first-child) {
  border-top: 1px solid #3676F5;
}

.select-search__option,
.select-search__not-found {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  background: #3676F5;
  color: #ffffff;
  border: none;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.select-search--multiple .select-search__option {
  height: 48px;
}

.select-search__option.is-selected {
  background: #7BA81D;
  color: #ffffff;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
  background: rgba(47, 204, 139, 0.1);
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
  background: #7BA81D;
  color: #ffffff;
}

.select-search__group-header {
  font-size: 10px;
  text-transform: uppercase;
  background: #ffffff;
  padding: 8px 16px;
}

.select-search.is-disabled {
  opacity: 0.5;
}

.select-search.is-loading .select-search__value::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
  background-size: 11px;
}

.select-search:not(.is-disabled) .select-search__input {
  cursor: pointer;
}

.select-search--multiple {
  border-radius: 3px;
  overflow: hidden;
}

.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
  transform: rotate(45deg);
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  pointer-events: none;
}

.select-search--multiple .select-search__input {
  cursor: initial;
}

.select-search--multiple .select-search__input {
  border-radius: 3px 3px 0 0;
}

.select-search--multiple:not(.select-search--search) .select-search__input {
  cursor: default;
}

.select-search:not(.select-search--multiple) .select-search__select {
  position: absolute;
  z-index: 2;
  top: 44px;
  right: 0;
  left: 0;
  border-radius: 3px;
  overflow: auto;
  max-height: 360px;
}

.select-search--multiple .select-search__select {
  position: relative;
  overflow: auto;
  max-height: 260px;
  border-top: 1px solid #ffffff;
  border-radius: 0 0 3px 3px;
}

.select-search__select {
  /* scrollbar for Firefox */
  scrollbar-width: thin;
}

/* scrollbar for Chrome, Edge and Safari */
.select-search__select::-webkit-scrollbar {
  width: 12px;
}

.select-search__select::-webkit-scrollbar-track {
  background: transparent;
}

.select-search__select::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
}

.select-search__not-found {
  height: auto;
  padding: 16px;
  text-align: center;
  color: #888;
}

.cars {
  display: flex;
  flex-direction: column;
  flex-grow: 1 1;
  gap: 5px;
  height: calc(100vh - 52px);
}
.cars .car-list {
  width: 100%;
}
.cars .car-list .car-item {
  display: grid;
  grid-template-areas: "vin name button" "plate price button";
  grid-auto-columns: 1fr;
}
.cars .car-list .car-item .edit-button {
  grid-area: button;
}
.cars .car-list .text-input {
  width: calc(100% - 25px);
}
.cars .car-editor {
  width: 100%;
}
.cars .car-editor .table-scroll {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .cars {
    flex-direction: row;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #142C5C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
  display: grid;
  grid-template-rows: 55px 100px 8fr;
  grid-template-columns: 1fr;
  grid-template-areas: "burger" "state" "content";
}

.content {
  grid-area: content;
}

ul {
  list-style: none;
}

.call-item, .citizen-item, .department-item,
.employee-item, .inventory-item, .history-item,
.license-item, .car-item, .incident-item, .indictment-item,
.fine-item {
  margin: 0;
  padding: 20px;
  color: #ffffff;
  display: grid;
  align-items: center;
  border-bottom: #ffffff 1px solid;
}

/* Header */
header {
  height: 100%;
}

.nav {
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  background-color: #2551A8;
  transition: 0.2s;
  grid-area: nav;
}

.nav-ul {
  font-size: 2rem;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 50px 50px;
  padding: 0;
  column-gap: 2rem;
}

.nav-li {
  padding: 0 0 2rem 0;
  position: relative;
}

.nav-a {
  color: #ffffff;
  text-decoration: none;
}

.nav-a:hover {
  border-bottom: 3px solid #ffffff;
}

.active-nav-a {
  border-bottom: 1px solid #AD7E02;
}

.burger {
  padding: 1rem 0rem;
  position: fixed;
  cursor: pointer;
  grid-area: burger;
  width: 100%;
  height: 1.5rem;
  background-color: #2551A8;
  z-index: 2;
}

.line {
  position: relative;
  left: 50%;
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  margin-left: -1.5rem;
  background-color: #ffffff;
  pointer-events: none;
  transition: 0.2s;
}

.nav.opened {
  display: flex;
  margin-top: 55px;
  justify-content: center;
  z-index: 2;
}

/* State */
.state {
  background-color: #2551A8;
  border: 1px solid #2551A8;
  color: #AD9B49;
  grid-area: state;
  display: flex;
  flex-direction: column;
  height: 90px;
  margin: 5px;
}

.state > p {
  text-align: center;
  min-height: 22px;
  line-height: 22px;
  margin: 0;
}

.state > .notification {
  color: #7BA81D;
}

/* State end */
@media screen and (min-width: 768px) {
  .app {
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 50px 50px 1fr;
    grid-template-areas: "nav state state" "nav content content";
  }

  header {
    height: 100vh;
  }

  .nav {
    background-color: transparent;
    display: block;
    height: 100vh;
    width: 50px;
    grid-area: nav;
    background-color: #2551A8;
    border-right: 1px solid #2551A8;
  }

  .nav-ul {
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
  }

  .nav-li {
    padding: 1rem;
  }

  .nav-a {
    color: #ffffff;
  }

  .nav-a i {
    font-size: 1.5rem;
  }

  .burger {
    display: none;
  }

  /* State */
  .state {
    grid-area: state;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-areas: "department notification unit time";
    border-radius: 10px;
    height: 30px;
    margin: 5px;
    padding: 0 10px;
  }

  .state > p:first-child {
    text-align: left;
    grid-area: department;
  }

  .state > p {
    text-align: right;
    margin: 0;
    line-height: 30px;
  }

  /* State end */
  main {
    grid-area: content;
    padding: 5px;
    height: calc(100vh - 52px);
  }
}
.edit-button {
  text-align: center;
  width: 75px;
}

.table-scroll ul {
  color: #ffffff;
}

.title .link {
  display: block;
  width: 100%;
}

.close-modal {
  margin-top: 10px;
}

.close-modal .close:hover {
  cursor: pointer;
}

.lang-select {
  margin: 0;
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
