.bolo {
    display: flex;
    flex-direction: column;
    flex-grow: 1 1;
    gap: 5px;
    height: calc(100vh - 52px);

    .citizen-list {
        width: 100%;
    }

    .car-list {
        width: 100%;
    }

    .car-item, .citizen-item {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-areas: ". ." ". .";

        .edit-button {
            width: 120px;
        }
    }

}

@media screen and (min-width: 768px) {
    .bolo {
        flex-direction: row;
    }
}
