@import "colors";

.calls {
    display: flex;
    flex-direction: column;
    flex-grow: 1 1;
    gap: 5px;
    height: calc(100vh - 52px);
}

@media screen and (min-width: 768px) {  
    .calls {
        flex-direction: row;
    }
}

.calls-list {
    width: 100%;
}

.calls-editor {
    width: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 10px;
    color: $bright;
}

.pagination li a {
    width: 30px;
    height: 30px;
    display: block;
}

.pagination li:hover {
    cursor: pointer;
    color: $highlight;
}

.pagination .pag-active {
    font-size: 2rem;
    color: $highlight;
}

.pagination .previous, .pagination .next {
    width: 20px; 
}

form textarea {
    grid-area: text;
    min-height: 150px;
    max-height: 300px;
}

.officers {
    grid-area: officers;
}

.officers p, .report p {
    margin-right: 20px;
}

.report {
    grid-area: report;
}

.report-controls {
    display: flex;
    line-height: 36px;
    margin: 0;
}

.round-link {
    color: $bright;
    text-decoration: none;
    align-items: center;
}

.round-link {
    background-color: $highlight;
    color: $bright;
    padding: 5px;
    border-radius: 20px;
}

.round-link:hover {
    background-color: $highlightDark;
    cursor: pointer;
}

.calls {
    .title {
        border-top: none;
        border-bottom: 1px solid $bright;
    }

    .call-item {
        grid-template-areas: ". ." ". ." ". edit";

        .edit-button {
            grid-area: edit;
        }
    }

    form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "id time" "location phone" "text text" "officers officers" "report report";
    }

    .table-scroll div:first-child .floating-label {
        left: 0;
    }
}