@import "colors.scss"; 

.citizens {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    .citizen-list {
        grid-area: list;

        .citizen-item {
            grid-template-areas: ". ." ". button";
            grid-auto-columns: 1fr;

            .edit-button {
                grid-area: button;
            }
        }
    }

    .citizen-editor {
        grid-area: editor;

        .table-scroll {
            row-gap: 15px;
            align-items: center;
            overflow: visible;
            justify-content: center;
        }

        form {
            padding: 0;
            grid-template-areas: "name phone" "birth regnum" "state password";
        }

        .password-link {
            height: 40px;
        }
        
        .password-link form {
            text-align: left;
        }

        .password-link {
            grid-area: password;

            .copy-label, .get-label {
                color: $bright;
                position: absolute;
                right: 10px;
                line-height: 40px;
                cursor: pointer;
            }

            .get-label {
                right: 30px;
            }
        }

        .copied {
            color: $highlight !important;
        }
    }

    .citizen-info {
        grid-area: info;

        .edit-list {
            border: 2px solid $background;
            margin: 5px;
            padding: 0 5px;
        }
    }
}

@media screen and (min-width: 768px) {  
    .citizens {
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "list editor" "list info";
        height: calc(100vh - 52px);
    }
}
