@import "colors.scss"; 

.citizens {
    display: grid;
    grid-template-areas: "list editor" "list info";
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    height: calc(100vh - 52px);

    .title {
        border-top: none;
        border-bottom: 1px solid $bright;
    }
    
    .citizen-list {
        grid-area: list;

        .citizen {
            margin: 0;
            display: grid;
            grid-template-areas: "regnum fullname edit" "phone phone .";
            list-style: none;
            padding: 20px;
            
            .regnum {
                grid-area: regnum;
            }

            .fullname {
                grid-area: fullname;
            }

            .edit-button {
                grid-area: edit;
            }

            .phone {
                grid-area: phone;
            }
        }
    }

    .citizen-editor {
        grid-area: editor;

        .table-scroll {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            align-items: center;
            overflow: visible;
            justify-content: center;
        }

        form {
            padding: 0;
            grid-template-areas: "name phone" "birth regnum" "state password";
        }

        .password-link {
            height: 40px;
        }
        
        .password-link form {
            text-align: left;
        }

        .password-link {
            grid-area: password;

            .copy-label, .get-label {
                color: $bright;
                position: absolute;
                right: 10px;
                line-height: 40px;
                cursor: pointer;
            }

            .get-label {
                right: 30px;
            }
        }

        .copied {
            color: $highlight !important;
        }
    }

    .citizen-info {
        grid-area: info;

        .edit-list {
            border: 2px solid $background;
            margin: 5px;
            padding: 0 5px;
        }
    }
}