/*$background: #3b3ba3;
$main: rgb(51, 51, 184);
$secondary: #2e2e7e;
$rare: rgb(214, 214, 139);
$bright: aliceblue;
$dark: black;
$highlight: aquamarine;
$highlightDark: rgb(46, 161, 182);*/

$background: #142C5C;
$main: #3676F5;
$secondary: #2551A8;
$rare: #AD9B49;
$bright: #FFFFFF;
$dark: #000000;
$highlight: #7BA81D;
$highlightDark: #415C0B;