@import "colors";

.departments {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .department-item {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .department-list {
        grid-area: dlist;
    }

    .department-editor {
        grid-area: editor;

        .table-scroll {
            justify-content: center;
        }

        form {
            display: grid;
            grid-template-areas: ". ."  "title title" "desc desc";

            .title-input {
                grid-area: title;
            }

            .title-input input {
                width: 500px;
            }

            .textarea {
                grid-area: desc;
            }

            textarea {
                resize: none;
                width: 500px;
            }
        }
    }

    .department-ranks {
        grid-area: ranks;
    }

    .department-units {
        grid-area: units;
    }

    .department-units, .department-ranks {
        .table-scroll {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            left: 15px;
        }
    }

    .table-scroll {
        .rank-form {
            height: 200px;
            margin: 15px 15px 0 15px;
        }

        .rank {
            background-color: $main;
            width: 200px;
            height: 200px;
            text-align: center;
            margin: 15px 15px 0 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            padding: 0;
        }

        .controls button {
            margin-left: 5px;
        }
    }
}

@media screen and (min-width: 768px) {  
    .departments {
        display: grid;
        grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "dlist ranks" "editor units";
        height: calc(100vh - 52px);
    }
}
