.employees {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .employee-item {
        display: grid;
        grid-template-areas: ". ." ". .";
    }

    .title-select {
        > h3, > div {
            width: 50%;
        }

        select {
            height: 25px;
            width: 100%;
        }
    }

    .employee-list {
        grid-area: list;

        .title {
            line-height: 43px;
        }
    }

    .employee-editor {
        grid-area: editor;

        .table-scroll {
            justify-content: center;
        }
    }

    .employee-work-hours {
        grid-area: hours;

        .table-scroll {
            padding: 0 20px;
        }

        .text-label {
            color: $bright;
        }
    }
}

@media screen and (min-width: 768px) {
    .employees {
        display: grid;
        grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "list editor" "list hours";
        height: calc(100vh - 52px);
    }
}