@import "colors";

@import "forms.scss";
@import "calls.scss";
@import "inventory.scss";
@import "license.scss";
@import "employees.scss";
@import "home.scss";
@import "citizens.scss";
@import "selectSearch.scss";
@import "departments.scss";
@import "penalcode.scss";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $background;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

.app {
  display: grid;
  grid-template-rows: 55px 100px 8fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "burger" 
    "state"
    "content";
}

.content {
  grid-area: content;
}

ul {
  list-style: none;
}

.call-item, .citizen-item, .department-item, .employee-item, .inventory-item, .history-item, .license-item {
  margin: 0;
  padding: 20px;
  color: $bright;
  display: grid;
  align-items: center;
  border-bottom: $bright 1px solid;
}

/* Header */
header {
    height: 100%;
  }
  
  .nav {
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    background-color: $secondary;
    transition: 0.2s;
    grid-area: nav;
  }
  
  .nav-ul {
    font-size: 2rem;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 50px 50px;
    padding: 0;
    column-gap: 2rem;
  }
  
  .nav-li {
    padding: 0 0 2rem 0;
    position: relative;
  }
  
  .nav-a {
    color: $bright;
    text-decoration: none;
  }
  
  .nav-a:hover {
    border-bottom: 3px solid $bright;
  }
  
  .active-nav-a {
    border-bottom: 1px solid #AD7E02;
  }
  
  .burger {
    padding: 1rem 0rem;
    position: fixed;
    cursor: pointer;
    grid-area: burger;
    width: 100%;
    height: 1.5rem;
    background-color: $secondary;
    z-index: 2;
  }
  
  .line {
    position: relative;
    left: 50%;
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    margin-left: -1.5rem;
    background-color: $bright;
    pointer-events: none;
    transition: 0.2s;
  }
  
  .nav.opened {
    display: flex;
    margin-top: 55px;
    justify-content: center;
    z-index: 2;
  }

nav .notification {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $rare;
  top: 10%;
  right: 10%;
  border: 1px solid $dark;
}

nav .notification p {
  margin: 0;
  font-size: 0.7rem;
}

/* State */
.state {
  background-color: $secondary;
  border: 1px solid $secondary;
  color: $rare;
  grid-area: state;
  display: flex;
  flex-direction: column;
  height: 90px;
  margin: 5px;
}

.state > p {
  text-align: center;
  min-height: 22px;
  line-height: 22px;
  margin: 0;
}

.state > .notification {
  color: $highlight;
}
/* State end */
  
  @media screen and (min-width: 768px) {  
    .app {
      display: grid;
      grid-template-rows: 40px 1fr;
      grid-template-columns: 50px 50px 1fr;
      grid-template-areas: 
        "nav state state" 
        "nav content content";
    }

    header {
      height: 100vh;
    }

    .nav {
      background-color: transparent;
      display: block;
      height: 100vh;
      width: 50px;
      grid-area: nav;
      background-color: $secondary;
      border-right: 1px solid $secondary;
    }
  
    .nav-ul {
      display: flex;
      font-size: 1.2rem;
      flex-direction: column;
    }
  
    .nav-li {
      padding: 1rem;
    }
  
    .nav-a {
      color: $bright;
    }
  
    .nav-a i {
      font-size: 1.5rem;
    }
  
    .burger {
      display: none;
    }
    
    /* State */
    .state {
      grid-area: state;
      display: grid;
      grid-template-columns: 2fr 2fr 1fr 1fr;
      grid-template-areas: "department notification unit time";
      border-radius: 10px;
      height: 30px;
      margin: 5px;
      padding: 0 10px;
    }

    .state > p:first-child {
      text-align: left;
      grid-area: department;
    }

    .state > p {
      text-align: right;
      margin: 0;
      line-height: 30px;
    }
    /* State end */

    main {
      grid-area: content;
      padding: 5px;
      height: calc(100vh - 52px);
    }
  }

  
.edit-button {
  text-align: center;
  width: 75px;
}

.table-scroll ul {
  color: $bright;
}


.title .link {
  display: block;
  width: 100%;
}