.cars {
    display: flex;
    flex-direction: column;
    flex-grow: 1 1;
    gap: 5px;
    height: calc(100vh - 52px);

    .car-list {
        width: 100%;

        .car-item {
            display: grid;
            grid-template-areas: "vin name button" "plate price button";
            grid-auto-columns: 1fr;

            .edit-button {
                grid-area: button;
            }
        }

        .text-input {
            width: calc(100% - 25px);
        }
    }

    .car-editor {
        width: 100%;
        .table-scroll {
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 768px) {
    .cars {
        flex-direction: row;
    }
}
